@import './color';
@import './font';

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Изменение цвета выделения на старнице */
::selection {background: #2F80ED; color:#fff;}
::-moz-selection {background: #2F80ED; color:#fff;}
::-webkit-selection {background: #2F80ED; color:#fff;}


body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}
input, textarea {
    outline: none;
}

.container {
    max-width: 1060px;
}

.lavelUp-btn {
    width: 160px;
    height: 72px;
    background-color: var(--red);
    border-radius: 4px;
    color: var(--white);
    font-size: 32px;
    font-weight: 600;

    &:hover {
        opacity: .8;
    }
}

.bc-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--gray);
    color: #4B4B4B;
    font-size: 18px;
    font-weight: 600;

    &:hover {
        opacity: .8;
    }
}

.author-title__text {
    font-size: 42px;
    font-weight: 600;
    color: var(--black);
    margin: 60px 0 40px 0;
}

.author-header {
    width: 100%;
    height: 790px;
    background-image: url('/assets/images/png/Rectangle\ 334.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 40px 0;

    &-item {
        width: 100%;
        height: auto;
        padding: 34px 70px 20px 70px;
        background-color: var(--white);
        margin-top: 48px;

        .author__img {
            margin-right: 40px;
        }

        .fa-heart {
            top: 0;
            right: 0;
            font-size: 50px;
            color: var(--gray);
            cursor: pointer;
        }
        .fas {
            color: var(--red);
        }
        .author__name {
            font-size: 40px;
            font-weight: 600;
        }
        .placeOf-birth {
            font-size: 30px;
            font-weight: 600;
        }
        .author-info__text {
            font-size: 20px;
            font-weight: 500;
            margin-top: 41px;
            margin-bottom: 18px;
        }
        .contact-item {
            margin-top: 25px;

            .author__email {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    .contact-list img:hover{
        opacity: .8;
    }
    .btn-moreInfo {
        width: 250px;
        height: 50px;
        background-color: var(--white);
        transition: .3s;
        font-size: 18px;
        font-weight: 700;
        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }

    .author-header-btns {
        margin-top: 40px;
        .button-left,
        .button-right {
            width: 430px;
            height: 60px;
            border-radius: 4px;
            transition: .3s;
            font-size: 22px;
            font-weight: 700;
        }
        .button-left {
            background-color: var(--blue);
            color: var(--white);
            border: 1px solid var(--blue);
            &:hover {
                background-color: transparent;
                border: 1px solid var(--white);
                color: var(--white);
            }
        }
        .button-right {
            background-color: transparent;
            border: 1px solid var(--white);
            color: var(--white);
            margin-left: 20px;
            &:hover {
            background-color: var(--blue);
            color: var(--white);
            border: 1px solid var(--blue);
            }
        }
    }
}
// End author-header

.author-courses {
    .courses-card {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        transition: .3s;
        &:hover {
            box-shadow: 0px 0px 15px -2px var(--dark-gray);
        }
        &-img {
            width: 100%;
            height: 140px;
            background-image: url('/assets/images/png/course1.png');
            background-size: cover;
            position: relative;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;

            .degree {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 120px;
                height: 30px;
                background-color: #fff9;
                padding: 8px;
                font-size: 12px;
                font-weight: 600;
            }

            .check-heart {
                position: absolute;
                top: 15px;
                right: 10px;
                cursor: pointer;
            }
        }

        .card-info-list {
            border: 1px solid var(--dark-gray);
            border-top: none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 10px;
            height: 190px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .position {
                font-size: 14px;
                font-weight: 600;
                color: var(--dark-gray);
                margin-left: 15px;
            }
            .position-work {
                font-size: 17px;
                font-weight: 600;
            }
            .stars {
                &__num {
                    font-weight: 700;
                    color: var(--yellow);
                    margin-right: 5px;
                }
                .fa-star {
                    color: var(--yellow);
                }
                .num__cases {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--dark-gray);
                    margin-left: 5px;
                }
            }
            
            .job-price {
                font-size: 26px;
                font-weight: 600;
            }
            .discount {
                font-size: 18px;
                font-weight: 600;
                color: var(--red);
            }
        }
    }
}
// End author-courses

.consultations {
    &-item  {
        width: 100%;
        height: auto;
        border: 1px solid #E1E1E1;
        padding: 35px 70px;
        border-radius: 4px;

        &__title {
            font-size: 24px;
            font-weight: 600;
        }

        &__price {
            font-size: 15px;
            font-weight: 400;

            big {
                font-size: 28px;
            }
        }

        .consultations__btn {
            width: 340px;
            height: 60px;
            background-color: var(--blue);
            color: var(--white);
            font-size: 22px;
            font-weight: 700;
            border-radius: 4px;
        }
    }
}
// End consultations

.author-events {
    .events-card{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        transition: .3s;
        &:hover {
            box-shadow: 0px 0px 15px -2px var(--dark-gray);
        }
        &-img {
            width: 100%;
            height: 140px;
            background-image: url('/assets/images/png/event.png');
            background-size: cover;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 10px;

            .master-class {
                width: 180px;
                height: 30px;
                border-radius: 4px;
                background-color: #fff9;
                color: #4B4B4B;
                font-weight: 600;
                display: flex;
                align-items: center;
                padding-left: 10px;
            }
        }

        &-info {
            border: 1px solid #E1E1E1; 
            border-top: none;
            border-radius: 4px;
            padding: 10px;
            height: 360px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            .position {
                font-size: 14px;
                font-weight: 600;
                color: #828282;
                margin-left: 16px;
            }
            .position-work {
                font-size: 22px;
                font-weight: 600;
            }
            .work__day,
            .work__time,
            .location {
                font-weight: 600;
            }

            .active-price{
                font-size: 24px;
                font-weight: 400;
            }
            .del-price {
                font-size: 18px;
                font-weight: 400;
                color: var(--red);
            }
        }
    }
}
// End author-events
 
.reviews {
    .stars-item,
    .progress-item {
        width: 100%;
        height: 200px;
        border-radius: 4px;
        border: 1px solid var(--gray);

        .star__num {
            font-size: 80px;
            font-weight: 400;
        }
        .fa-star {
            color: var(--yellow);
            font-size: 22px;
        }
        .rereview__text {
            font-weight: 400;
            color: #828282;
            margin-top: 10px;
        }

        .progress-list {
            .progress {
                height: 8px;
                position: relative;
                &-bar {
                    background-color: #F30F38;
                }

            }
            .progress {
                margin: 0 5px;
                padding:0;
                width:220px;
                height:8px;
                overflow:hidden;
                background:#e5e5e5;
                border-radius:6px;
              
                .bar {
                    position:relative;
                  float:left;
                  min-width:0%;
                  height:100%;
                  background:#F30F38;
                }
                
                .percent {
                }
              }
        }
    }

    &-list {
        margin-top: 30px;
        &__photo {
            margin-right: 30px;
        }
        .user__name {
            font-weight: 600;
            color: var(--dark-gray);
            margin-right: 25px;
        }
        .fa-star {
            color: var(--yellow);
        }
        .reviews__sup-text {
            font-weight: 600;
            color: var(--dark-gray);
        }
        .reviews__text {
            font-size: 18px;
            font-weight: 600;
            margin-top: 18px;
        }
    }

    .review-left__btn,
    .review-right__btn {
        width: 340px;
        height: 60px;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 10px;
        font-size: 22px;
        font-weight: 600;
        margin-top: 30px;
        &:hover {
            opacity: .8;
        }
    }
    .review-left__btn {
        background-color: var(--blue);
        color: var(--white);
    }
    .review-right__btn {
        border: 2px solid var(--blue);
        color: var(--blue);
        background-color: var(--white);
    }
}
// End reviews

footer {
    margin-top: 150px;
    padding-bottom: 60px;
    .footer__link,
    .footer__levelUp {
        color: var(--black);
        font-weight: 400;
    }
    .active_link {
        color: var(--blue);
    }
    .footer__link:hover {
        color: var(--blue);
    }
}




// Start media
@import './media'